@font-face {
  font-family: "iconfont"; /* Project id 4612265 */
  src: url('iconfont.woff2?t=1720436316120') format('woff2'),
       url('iconfont.woff?t=1720436316120') format('woff'),
       url('iconfont.ttf?t=1720436316120') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-jiqiren:before {
  content: "\e70e";
}

.icon-pencil-full:before {
  content: "\ea14";
}

.icon-rubber-full:before {
  content: "\ea15";
}

.icon-shangyige:before {
  content: "\e617";
}

.icon-xiayige:before {
  content: "\e61e";
}

.icon-top:before {
  content: "\e60d";
}

.icon-bottom:before {
  content: "\e610";
}

.icon-youjiantou:before {
  content: "\e6b5";
}

.icon-shanchuyuansu:before {
  content: "\e669";
}

.icon-yiqueren:before {
  content: "\e60e";
}

.icon-huahua:before {
  content: "\e626";
}

.icon-board_circle:before {
  content: "\e83c";
}

.icon-board_square:before {
  content: "\e83d";
}

.icon-board_triangle:before {
  content: "\e83e";
}

.icon-yiqueren1:before {
  content: "\e712";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-chakan:before {
  content: "\e604";
}

.icon-datu:before {
  content: "\e607";
}

.icon-shanchu:before {
  content: "\e608";
}

.icon-gouxuan:before {
  content: "\e60a";
}

.icon-shuju:before {
  content: "\e639";
}

.icon-tuxiang:before {
  content: "\e63c";
}

.icon-shujuzhanshi3:before {
  content: "\e650";
}

.icon-shujuzhanshi:before {
  content: "\e652";
}

.icon-wenjiantianjia:before {
  content: "\e659";
}

.icon-daochu:before {
  content: "\e662";
}

.icon-lianjie:before {
  content: "\e665";
}

.icon-chulizhong:before {
  content: "\e681";
}

.icon-guanbi:before {
  content: "\e60f";
}

.icon-daibanshixiang:before {
  content: "\ec4e";
}

.icon-wancheng-yiwancheng:before {
  content: "\e7b7";
}

.icon-guanbi1:before {
  content: "\e636";
}

.icon-shangchuan:before {
  content: "\e616";
}

.icon-weiqueren:before {
  content: "\e6cc";
}

.icon-shuju1:before {
  content: "\e603";
}

.icon-lishibiaodan:before {
  content: "\e711";
}

.icon-wenjianxiugai:before {
  content: "\e71c";
}

.icon-wenjiantianjia1:before {
  content: "\e71d";
}

.icon-xinicon_huabanfuben:before {
  content: "\e646";
}

.icon-yuanquan_huaban1:before {
  content: "\e66c";
}

.icon-zhixian_huaban1:before {
  content: "\e66d";
}

.icon-xiangpi_huaban1:before {
  content: "\e67b";
}

.icon-wode:before {
  content: "\e6d3";
}

